---
import type { GetStaticPathsOptions } from 'astro';

import BaseHead from '@components/BaseHead.astro';
import BaseBody from '@components/BaseBody.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import PublishedDate from '@components/PublishedDate.astro';
import Pagination from '@components/Pagination.astro';

import { getList } from '@library/microcms';

// 1ページに表示する件数
export const postsPerPage = 12;

// getStaticPaths()で動的なルートを設定
export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
    // 総件数を取得
    const initialResponse = await getList({
        limit: 0,
        fields: ['id'],
    });

    const totalCount = initialResponse.totalCount;

    // 50件ずつ分割して全記事を取得
    const allContents = [];
    const batchSize = 50; // 1回あたりの取得件数
    const batchCount = Math.ceil(totalCount / batchSize);

    for (let i = 0; i < batchCount; i++) {
        const batchResponse = await getList({
            limit: batchSize,
            offset: i * batchSize,
            fields: ['id', 'title', 'description', 'thumbnail', 'publishedAt', 'createdAt'], //取得するフィールド
            orders: '-publishedAt', //公開日順でソート
        });
        allContents.push(...batchResponse.contents);
    }

    // 取得した全記事に対してページネーションを適用
    return paginate(allContents, {
        pageSize: postsPerPage,
        params: { page: undefined }, // 1ページ目のパスパラメータをundefinedに設定
    });
}

const { page } = Astro.props;

// リダイレクト防止：1ページ目は/blog/1ではなく/blogにする
if (page.currentPage === 1 && Astro.params.page === '1') {
    return Astro.redirect('/blog/');
}
---

<!doctype html>
<html lang="ja">
    <head>
        <BaseHead title={`投稿記事一覧${page.currentPage > 1 ? ` - ${page.currentPage}ページ目` : ''}`} description="" />
        <style>
            main {
                width: 980px;
                max-width: 100%;
            }
            ul {
                display: grid;
                gap: 48px;
                margin-top: 32px;
                grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
                word-break: auto-phrase;
            }
            ul .imageContainer {
                position: relative;
            }
            ul .image,
            ul .imageBlur {
                display: block;
                width: 100%;
                height: auto;
                border-radius: calc(var(--border-radius) * 2);
                aspect-ratio: 40 / 21;
                object-fit: cover;
            }
            ul .imageBlur {
                position: absolute;
                inset: 0;
                margin: auto;
                opacity: 0;
                filter: blur(12px) saturate(180%);
                will-change: filter;
                z-index: -1;
                animation: fadeIn 500ms cubic-bezier(0.33, 1, 0.68, 1) 180ms forwards;
            }
            h1 {
                font-size: 2.8rem;
            }
            h2 {
                font-size: 2rem;
                margin-top: 0.6em;
            }
            hgroup {
                margin-block-start: 1.4em;
            }
            hgroup p {
                font-size: 1.5rem;
                overflow: hidden;
                display: -webkit-box;
                text-overflow: ellipsis;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                color: var(--color-text-sub);
                margin: 0.4em 0 0 0;
                line-height: 1.72;
                /* ブラウザがサポートしていない場合のフェールセーフ */
                max-height: 5em;
            }
            .meta-field {
                display: flex;
                justify-content: flex-end;
                /* align-items: center; */
                gap: 18px;
            }
            .pagination-container {
                margin-block-start: 32px;
            }
            @keyframes fadeIn {
                from {
                    opacity: 0;
                }
                to {
                    opacity: 1;
                }
            }
        </style>
    </head>
    <body>
        <Header />
        <main>
            <section>
                <h1>投稿記事一覧</h1>
                <ul>
                    {
                        page.data.map((post, index) => {
                            return (
                                <li>
                                    <a href={`/blog/${post.id}/`}>
                                        <div class="imageContainer">
                                            <picture>
                                                <source
                                                    type="image/avif"
                                                    srcset={`${post.thumbnail?.url}?fm=avif&fit=crop&w=39&h=21&q=10&blur 1x, ${post.thumbnail?.url}?fm=avif&fit=crop&w=39&h=21&q=10&blur&dpr=2 2x`}
                                                />
                                                <source
                                                    type="image/webp"
                                                    srcset={`${post.thumbnail?.url}?fm=webp&fit=crop&w=39&h=21&q=10&blur 1x, ${post.thumbnail?.url}?fm=webp&fit=crop&w=39&h=21&q=10&blur&dpr=2 2x`}
                                                />
                                                <img
                                                    class="imageBlur"
                                                    width={39}
                                                    height={21}
                                                    srcset={`${post.thumbnail?.url}?fit=crop&w=39&h=21&q=10&blur 1x, ${post.thumbnail?.url}?fit=crop&w=39&h=21&q=10&blur&dpr=2 2x`}
                                                    alt=""
                                                    decoding="async"
                                                    aria-hidden="true"
                                                />
                                            </picture>
                                            <picture>
                                                <source
                                                    type="image/avif"
                                                    srcset={`${post.thumbnail?.url}?fm=avif&fit=crop&w=391&h=205 1x, ${post.thumbnail?.url}?fm=avif&fit=crop&w=391&h=205&dpr=2 2x`}
                                                />
                                                <source
                                                    type="image/webp"
                                                    srcset={`${post.thumbnail?.url}?fm=webp&fit=crop&w=391&h=205 1x, ${post.thumbnail?.url}?fm=webp&fit=crop&w=391&h=205&dpr=2 2x`}
                                                />
                                                <img
                                                    class="image"
                                                    width={391}
                                                    height={205}
                                                    srcset={`${post.thumbnail?.url}?fit=crop&w=391&h=205 1x, ${post.thumbnail?.url}?fit=crop&w=391&h=205&dpr=2 2x`}
                                                    alt=""
                                                    decoding="async"
                                                    transition:name={`BlogMV-${post.id}`}
                                                    fetchpriority={index <= 4 ? 'high' : 'auto'}
                                                />
                                            </picture>
                                        </div>
                                        <hgroup>
                                            <h2>{post.title}</h2>
                                            <p>{post.description}</p>
                                        </hgroup>
                                        <div class="meta-field">
                                            <PublishedDate date={post.publishedAt || post.createdAt} />
                                        </div>
                                    </a>
                                </li>
                            );
                        })
                    }
                </ul>

                <div class="pagination-container">
                    <Pagination currentPage={page.currentPage} totalPages={page.lastPage} url="/blog/" />
                </div>
            </section>
        </main>
        <Footer />
        <BaseBody />
        <style>
            .pagination-container {
                margin-block-start: 32px;
            }
        </style>
    </body>
</html>
