---
import BaseHead from '@components/BaseHead.astro';
import BaseBody from '@components/BaseBody.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import PublishedDate from '@components/PublishedDate.astro';
import LikeCounter from '@components/LikeCounter.astro';

import { getList } from '@library/microcms';
const posts = await getList();
---

<!doctype html>
<html lang="ja">
    <head>
        <BaseHead title="投稿記事一覧" description="" />
        <style>
            main {
                width: 980px;
                max-width: 100%;
            }
            ul {
                display: grid;
                gap: 48px;
                margin-top: 32px;
                grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
                word-break: auto-phrase;
            }
            ul .imageContainer {
                position: relative;
            }
            ul .image,
            ul .imageBlur {
                display: block;
                width: 100%;
                height: auto;
                border-radius: calc(var(--border-radius) * 2);
                aspect-ratio: 40 / 21;
                object-fit: cover;
            }
            ul .imageBlur {
                position: absolute;
                inset: 0;
                margin: auto;
                opacity: 0;
                filter: blur(12px) saturate(180%);
                will-change: filter;
                z-index: -1;
                animation: fadeIn 500ms cubic-bezier(0.33, 1, 0.68, 1) 180ms forwards;
            }
            h1 {
                font-size: 2.8rem;
            }
            h2 {
                font-size: 2rem;
                margin-top: 0.6em;
            }
            hgroup {
                margin-top: 0.6em;
            }
            hgroup p {
                font-size: 1.5rem;
                overflow: hidden;
                display: -webkit-box;
                text-overflow: ellipsis;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                color: var(--color-text-sub);
                margin: 0.2em 0 0 0;
                /* ブラウザがサポートしていない場合のフェールセーフ */
                max-height: 5em;
            }
            .meta-field {
                display: flex;
                justify-content: flex-end;
                /* align-items: center; */
                gap: 18px;
            }
            @keyframes fadeIn {
                from {
                    opacity: 0;
                }
                to {
                    opacity: 1;
                }
            }
        </style>
    </head>
    <body>
        <Header />
        <main>
            <section>
                <h1>投稿記事一覧</h1>
                <ul>
                    {
                        posts.contents.map((post, index) => {
                            return (
                                <li>
                                    <a href={`/blog/${post.id}/`}>
                                        <div class="imageContainer">
                                            <picture>
                                                <source
                                                    type="image/avif"
                                                    srcset={`${post.thumbnail?.url}?fm=avif&fit=crop&w=39&h=21&q=10&blur 1x, ${post.thumbnail?.url}?fm=avif&fit=crop&w=39&h=21&q=10&blur&dpr=2 2x`}
                                                />
                                                <source
                                                    type="image/webp"
                                                    srcset={`${post.thumbnail?.url}?fm=webp&fit=crop&w=39&h=21&q=10&blur 1x, ${post.thumbnail?.url}?fm=webp&fit=crop&w=39&h=21&q=10&blur&dpr=2 2x`}
                                                />
                                                <img
                                                    class="imageBlur"
                                                    width={39}
                                                    height={21}
                                                    srcset={`${post.thumbnail?.url}?fit=crop&w=39&h=21&q=10&blur 1x, ${post.thumbnail?.url}?fit=crop&w=39&h=21&q=10&blur&dpr=2 2x`}
                                                    alt=""
                                                    decoding="async"
                                                    aria-hidden="true"
                                                />
                                            </picture>
                                            <picture>
                                                <source
                                                    type="image/avif"
                                                    srcset={`${post.thumbnail?.url}?fm=avif&fit=crop&w=391&h=205 1x, ${post.thumbnail?.url}?fm=avif&fit=crop&w=391&h=205&dpr=2 2x`}
                                                />
                                                <source
                                                    type="image/webp"
                                                    srcset={`${post.thumbnail?.url}?fm=webp&fit=crop&w=391&h=205 1x, ${post.thumbnail?.url}?fm=webp&fit=crop&w=391&h=205&dpr=2 2x`}
                                                />
                                                <img
                                                    class="image"
                                                    width={391}
                                                    height={205}
                                                    srcset={`${post.thumbnail?.url}?fit=crop&w=391&h=205 1x, ${post.thumbnail?.url}?fit=crop&w=391&h=205&dpr=2 2x`}
                                                    alt=""
                                                    decoding="async"
                                                    transition:name={`BlogMV-${post.id}`}
                                                    fetchpriority={index <= 4 ? 'high' : 'auto'}
                                                />
                                            </picture>
                                        </div>
                                        <hgroup>
                                            <h2>{post.title}</h2>
                                            <p>{post.description}</p>
                                        </hgroup>
                                        <div class="meta-field">
                                            <LikeCounter id={post.id} />
                                            <PublishedDate date={post.publishedAt || post.createdAt} />
                                        </div>
                                    </a>
                                </li>
                            );
                        })
                    }
                </ul>
            </section>
        </main>
        <Footer />
        <BaseBody />
    </body>
</html>
