---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';

import { getList } from '../../library/microcms';
const posts = await getList();
---

<!doctype html>
<html lang="ja">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			main {
				width: 960px;
				max-width: 100%;
			}
			ul {
				display: grid;
				gap: 36px;
				margin-top: 16px;
				grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
			}
			img {
				display: block;
				width: 100%;
				height: auto;
				border-radius: calc(var(--border-radius) * 2);
				aspect-ratio: 40 / 21;
				object-fit: cover;
			}
			h1 {
				line-height: 1.24;
			}
			h2 {
				margin: 0;
				font-size: 1.28rem;
				line-height: 1.24;
				font-weight: 700;
				margin-top: 8px;
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<section>
				<h1>投稿記事一覧</h1>
				<ul>
					{
						posts.contents.map((post) => (
							<li>
								<a href={`/blog/${post.id}/`}>
									<img width={720} height={360} src={post.thumbnail?.url} alt="" />
									<h2 class="title">{post.title}</h2>
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
