---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';

import { getList } from '../../library/microcms';
const posts = await getList();
---

<!doctype html>
<html lang="ja">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			main {
				width: 960px;
				max-width: 100%;
			}
			ul {
				display: grid;
				gap: 36px;
				margin-top: 32px;
				grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
			}
			img {
				display: block;
				width: 100%;
				height: auto;
				border-radius: calc(var(--border-radius) * 2);
				aspect-ratio: 40 / 21;
				object-fit: cover;
			}
			h1 {
				font-size: 2.8rem;
			}
			h2 {
				font-size: 2rem;
				margin-top: 0.4em;
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<section>
				<h1>投稿記事一覧</h1>
				<ul>
					{
						posts.contents.map((post) => (
							<li>
								<a href={`/blog/${post.id}/`}>
									<picture>
										<source type="image/avif" srcset={`${post.thumbnail?.url}?fm=avif&fit=crop&w=391&h=205`}>
										<source type="image/webp" srcset={`${post.thumbnail?.url}?fm=webp&fit=crop&w=391&h=205`}>
										<img width={391} height={205} src={`${post.thumbnail?.url}?fit=crop&w=391&h=205`} alt="" transition:name={`BlogMV-${post.id}`} />
									</picture>
									<h2>{post.title}</h4>
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
