---
import TopLayout from '@layouts/top.astro';

/**
 * 地球オブジェクトのサイズ
 * 単位は`px`
 */
const cobeSize = 450;

const today = new Date();
const year = today.getFullYear();
const month = String(today.getMonth() + 1).padStart(2, '0');
const day = String(today.getDate()).padStart(2, '0');

const formattedDate = `${year}-${month}-${day}`;
---

<TopLayout>
    <div class="container">
        <div class="mv">
            <div class="mv-statement">
                <h1>Hey, I'm <span>Luminus</span> ✋</h1>
                <p class="mv-statement__description">
                    <span>趣味であるプラグラミングやゲームについての記事を書いていきます。</span>
                    <span>更新は気まぐれですが、どうかお許しください。</span>
                </p>
                <ul class="mv-button-list">
                    <li>
                        <a class="mv-button-list__blog" href="/blog/">ブログを見る</a>
                    </li>
                    <li>
                        <a class="mv-button-list__about" href="/about/">このサイトについて</a>
                    </li>
                </ul>
            </div>
            <div class="mv-cobe" style=`--cobe-size: ${cobeSize}px`>
                <canvas class="mv-cobe-canvas" width="420" height="420"></canvas>
            </div>
        </div>
        <div class="content">
            <h2>工事中の機能</h2>
            <p>WIP {formattedDate}</p>
            <ul>
                <li>コンテンツの中身全般</li>
                <li>タグ機能</li>
                <li>検索機能</li>
                <li>記事の目次がダサいので、デザインやり直す</li>
                <li>画面が眩しいのダークテーマ入れる</li>
            </ul>
        </div>
    </div>
</TopLayout>

<script>
    import createGlobe from 'cobe';

    document.addEventListener('astro:page-load', () => {
        let canvas = document.querySelector('.mv-cobe-canvas') as HTMLCanvasElement;
        if (!canvas) return;

        const isDark = window.matchMedia('(prefers-color-scheme: dark)').matches;
        const isMotion = window.matchMedia('(prefers-reduced-motion: reduce)').matches;

        let phi = 2.24;
        let theta = 0.4;
        let width = 0;

        const onResize = () => canvas && (width = canvas.offsetWidth);
        window.addEventListener('resize', onResize);
        onResize();

        const globe = createGlobe(canvas, {
            devicePixelRatio: 2,
            width: width * 2,
            height: width * 2,
            phi,
            theta,
            dark: 1,
            diffuse: 2.4,
            scale: 1.1,
            mapSamples: 16000,
            mapBrightness: 5,
            baseColor: [1, 1, 1],
            markerColor: [87 / 255, 213 / 255, 43 / 255],
            glowColor: [1.2, 1.2, 1.2],
            opacity: !isDark ? 0.72 : 0.9,
            markers: [{ location: [35.676, 139.65], size: 0.08 }],
            onRender: state => {
                if (!isMotion) {
                    state.phi = phi;
                    state.theta = theta;
                    phi += 0.002;
                    state.width = width * 2;
                    state.height = width * 2;
                }
            },
        });

        setTimeout(() => (canvas.style.opacity = '1'));

        return () => {
            globe.destroy();
            window.removeEventListener('resize', onResize);
        };
    });
</script>

<style>
    .container {
        position: relative;
        max-width: 1000px;
        margin-inline: auto;
    }
    .content {
        margin-top: 3rem;
    }
    .content ul {
        list-style: square;
        list-style-position: inside;
    }
    .mv {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: space-between;
        gap: 32px;
    }
    .mv-statement h1 {
        font-size: 4rem;
        flex-shrink: 0;
    }
    .mv-statement h1 span {
        display: inline-block;
        background: var(--gradient-primary-blue);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .mv-statement__description {
        opacity: 0.84;
    }
    .mv-statement__description span {
        display: inline-block;
    }
    .mv-button-list {
        display: flex;
        gap: 16px;
    }
    .mv-button-list li {
        display: inline-block;
    }
    :is(.mv-button-list__blog, .mv-button-list__about) {
        display: inline-flex;
        height: 100%;
        font-size: 1.4rem;
        font-weight: bold;
        padding: 0.8em 1em 0.68em;
        box-sizing: border-box;
        border-radius: var(--border-radius);
        line-height: 1;
        transition: transform 200ms var(--easing-normal);
        align-items: center;
        letter-spacing: 0.04em;
    }
    :is(.mv-button-list__blog, .mv-button-list__about):hover,
    :is(.mv-button-list__blog, .mv-button-list__about):focus-visible {
        transform: translateY(4px);
    }
    .mv-button-list__blog {
        color: var(--color-lightest);
        background: var(--gradient-primary-blue-2);
        border: 1px solid var(--color-primary);
    }
    .mv-button-list__about {
        border: 2px solid var(--color-primary);
    }
    .mv-cobe {
        width: 100%;
        max-width: var(--cobe-size);
        aspect-ratio: 1;
        margin-inline: auto;
    }
    .mv-cobe-canvas {
        width: 100%;
        height: 100%;
    }

    @media screen and (max-width: 720px) {
        .mv {
            flex-wrap: wrap;
        }
        .mv-statement h1 {
            font-size: 3.2rem;
        }
    }
</style>
