---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import '@styles/global.css';

interface Props {
    title: string;
    description: string;
    image?: string;
}

import { ViewTransitions } from 'astro:transitions';
import { SITE_TITLE } from '@consts';

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title, description, image = '/images/top-ogp.png' } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" href="/favicon.ico" />
<link rel="apple-touch-icon-precomposed" href="/images/icons/icon-384x384.png" />
<meta name="generator" content={Astro.generator} />
<meta name="theme-color" content="#282c34" />
<meta name="msapplication-TileColor" content="#282c34" />

<!-- Preconnect -->
<link rel="preconnect" href="https://images.microcms-assets.io" crossorigin />

<!-- Font preloads -->
<link rel="preload" href="/fonts/inter/inter-v13-latin-500.woff2" as="font" type="font/woff2" crossorigin />
<link rel="preload" href="/fonts/inter/inter-v13-latin-700.woff2" as="font" type="font/woff2" crossorigin />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />
<meta name="apple-mobile-web-app-title" content={SITE_TITLE} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />

<!-- Sitemap -->
<link rel="sitemap" href="/sitemap-0.xml" />

<!-- Manifest -->
<link rel="manifest" href="/manifest.webmanifest" crossorigin="use-credentials" />

<!-- View Transitions -->
<ViewTransitions />

<script>
    document.addEventListener('DOMContentLoaded', event => {
        const toggleButton = document.getElementById('themeToggle');
        if (!toggleButton) return;

        const theme = (() => {
            if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
                return localStorage.getItem('theme');
            }
            if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
                return 'dark';
            }
            return 'light';
        })();

        if (theme === 'dark') {
            document.documentElement.setAttribute('data-dark', 'true');
        } else {
            document.documentElement.removeAttribute('data-dark');
        }

        if (theme) {
            window.localStorage.setItem('theme', theme);
        }

        const handleToggleClick = () => {
            const element = document.documentElement;
            if (element.hasAttribute('data-dark')) {
                element.removeAttribute('data-dark');
                localStorage.setItem('theme', 'light');
            } else {
                element.setAttribute('data-dark', 'true');
                localStorage.setItem('theme', 'dark');
            }
        };

        toggleButton.addEventListener('click', handleToggleClick);
    });
</script>
